<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/emplogin.css' %}">
</head>
<body>
    <div class="full_container">
         <h2>Employee Login </h2>
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <label for="">Employee Name</label><br>
        <input type="text" name="emp_name"><br>
        <label for="">Employee Id</label><br>
        <input type="number" name="emp_id"><br>
        <input type="submit" value="login">
    </form>
    </div>
      <div class="button_container">
    <a href="http://127.0.0.1:8000/payrollapp/login/">Login</a>
    <a href="http://127.0.0.1:8000/payrollapp/register/">Register</a>
  </div>
</body>
</html>